.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  padding: 1.5rem;

  text-align: center;

  & > img {
    order: -1;
  }
}

@container bento-cell (min-width: calc(520 / 16 * 1rem)) {
  .section {
    flex-direction: row;
    justify-content: center;

    text-align: start;

    & > h2 {
      width: min(100%, calc(257 / 16 * 1rem));
    }
  }
}