.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2.5rem 2rem;

  text-align: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}