.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  --padding-y: clamp(2.5rem, 0.1536rem + 10.9453cqw, 3.875rem);
  padding: var(--padding-y) 2rem;

  text-align: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

@container bento-cell (min-width: calc(544 / 16 * 1rem)) {
  .section {
    --padding-y: clamp(3.875rem, 1.5139rem + 6.9444cqw, 4.5rem);
  }
}
