.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 2rem;

  text-align: center;

  overflow-x: hidden;
}

@container bento-cell (max-width: calc(300 / 16 * 1rem)) {
  .section {
    align-items: start;
    text-align: start;

    & > img {
      min-width: calc(358 / 16 * 1rem);
    }
  }
}
