.bento-grid {
  padding: var(--spc-400) var(--spc-200);

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spc-400);
}

.bento-grid em {
  padding-right: var(--spc-100);
}

@media (min-width: 48rem) {
  .bento-grid {
    padding-top: clamp(3.25rem, 4.762vw + 0.964rem, 5.25rem);
    padding-bottom: clamp(3.25rem, 4.762vw + 0.964rem, 5.25rem);
  }
}
