.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  height: inherit;
  padding: 1.5rem;

  & > h2 {
    display: flex;
    flex-direction: column;
    gap: calc(15 / 16 * 1rem)
  }
}
