@layer reset, font-faces, root, base, typography, utilities;

@layer root {
  :root {
    /* colors */
    --c-purple-100: rgb(219, 209, 252);
    --c-purple-500: rgb(117, 81, 220);
    --c-yellow-100: rgb(249, 238, 226);
    --c-yellow-500: rgb(255, 204, 106);
    --c-white: rgb(255, 255, 255);
    --c-black: rgb(18, 18, 18);
    --c-neutral: rgb(246, 245, 246);

    --background-color-main: var(--c-neutral);
    --text-color-main: var(--c-black);

    /* fonts */
    --ff-dm-sans: "DM Sans", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;

    --fs-text-preset-1: clamp(2.875rem, 2.375rem + 2.0833vw, 3.375rem);
    --fs-text-preset-2: clamp(2rem, 1.75rem + 1.0417vw, 2.25rem);
    --fs-text-preset-3: clamp(1.625rem, 1.5rem + 0.5208vw, 1.75rem);
    --fs-text-preset-4: 1.125rem;

    --lh-text-preset-1: 0.935;
    --lh-text-preset-2: 0.9;
    --lh-text-preset-3: 0.875;
    --lh-text-preset-4: 1.111;

    --ls-text-preset-1: -0.04em;
    --ls-text-preset-2: -0.06em;
    --ls-text-preset-3: -0.06em;
    --ls-text-preset-4: 0;

    /* root styles */
    font-family: var(--ff-dm-sans);
    font-size: 16px;
  }

  @media screen and (min-width: calc(768 / 16 * 1rem)) {
    :root {
      --fs-text-preset-1: clamp(3.375rem, 2.4861rem + 1.8519vw, 3.875rem);
      --fs-text-preset-2: clamp(2.25rem, 1.8056rem + 0.9259vw, 2.5rem);
      --fs-text-preset-3: clamp(1.75rem, 1.3056rem + 0.9259vw, 2rem);
    }
  }

  @media screen and (min-width: calc(1200 / 16 * 1rem)) {
    :root {
      --ls-text-preset-1: calc(-3 / 16 * 1rem);
      --ls-text-preset-2: calc(-2 / 16 * 1rem);
      --ls-text-preset-3: calc(-2 / 16 * 1rem);
    }
  }
}

@layer base {
  img {
    display: block;
  }

  em {
    font-style: italic;
  }
}

@layer utilities {
  .highlight {
    color: var(--text-color-highlight, var(--c-purple-500));
  }
}

@layer typography {
  [data-text-preset="1"] {
    font-weight: var(--fw-medium);
    font-size: var(--fs-text-preset-1);
    line-height: var(--lh-text-preset-1);
    letter-spacing: var(--ls-text-preset-1);
  }

  [data-text-preset="2"] {
    font-weight: var(--fw-medium);
    font-size: var(--fs-text-preset-2);
    line-height: var(--lh-text-preset-2);
    letter-spacing: var(--ls-text-preset-2);
  }

  [data-text-preset="3"] {
    font-weight: var(--fw-medium);
    font-size: var(--fs-text-preset-3);
    line-height: var(--lh-text-preset-3);
    letter-spacing: var(--ls-text-preset-3);
  }

  [data-text-preset="4"] {
    font-weight: var(--fw-regular);
    font-size: var(--fs-text-preset-4);
    line-height: var(--lh-text-preset-4);
    letter-spacing: var(--ls-text-preset-4);
  }
}

@layer font-faces {
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400 500;
    src: local("DM Sans"),
      url("/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 400 500;
    src: local("DM Sans"),
      url("/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  }
}

@layer reset {
  /***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

  /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
  *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  }

  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Fix mobile Safari increase font-size on landscape mode */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Reapply the pointer cursor for anchor tags */
  a,
  button {
    cursor: revert;
  }

  /* Remove list styles (bullets/numbers) */
  ol,
  ul,
  menu,
  summary {
    list-style: none;
  }

  /* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
  ol {
    counter-reset: revert;
  }

  /* For images to not be able to exceed their container */
  img {
    max-inline-size: 100%;
    max-block-size: 100%;
  }

  /* removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }

  /* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
  input,
  textarea {
    -webkit-user-select: auto;
  }

  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  /* minimum style to allow to style meter element */
  meter {
    -webkit-appearance: revert;
    appearance: revert;
  }

  /* preformatted text - use only for this feature */
  :where(pre) {
    all: revert;
    box-sizing: border-box;
  }

  /* reset default text opacity of input placeholder */
  ::placeholder {
    color: unset;
  }

  /* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
  :where([hidden]) {
    display: none;
  }

  /* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
  :where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
  }

  /* apply back the draggable feature - exist only in Chromium and Safari */
  :where([draggable="true"]) {
    -webkit-user-drag: element;
  }

  /* Revert Modal native behavior */
  :where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
  }

  /* Remove details summary webkit styles */
  ::-webkit-details-marker {
    display: none;
  }
}
